/* General body styling */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f8f8f8;
}

/* Logout button styling */
.logout {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logout a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.logout img {
    width: 27px; /* Adjust the width */
    height: 27px; /* Adjust the height */
    margin-right: 5px;}

/* Header styling */
header {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    background-color: #f8f8f8;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Centered Navbar styling */
.navbar {
    width: 100%;
    display: flex;
    gap: 20px;
    border: 2px solid #b0c4de; /* Blue outline border */
    border-radius: 15px;
    padding: 5px 15px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    margin-bottom: 20px; /* Add spacing below navbar */
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 10px;
}

.navbar a:hover {
    background-color: #e6f0ff; /* Light blue background on hover */
}

.navbar a.active {
    background-color: #e6f0ff;
    border: 1px solid #b0c4de;
    border-radius: 10px;
}

/* Container for the two-column layout */
.container {
    display: flex;
    flex-direction: row; /* Keep the two-column layout */
    width: 80%;
    max-width: 1200px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Center the container */
}

/* Left column styling */
.left-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.left-column .logo {
    max-width: 700px;
}

/* Right column styling */
.right-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.right-column button {
    width: 85%;
    padding: 15px;
    margin: 10px 0;
    font-size: 20px;
    background-color: #b0c4de;
    color: #333;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.right-column button:hover {
    background-color: #8ca6bf;
}
